@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  .body {
    @apply max-w-[1380px] mx-auto px-4 sm:px-6 lg:px-4;
  }

  .debug {
    @apply border border-blue-500;
  }

  [iconify] {
    background-color: currentColor;
    -webkit-mask-size: cover;
    mask-size: cover;
    min-width: 1.5rem;
    min-height: 1.5rem;
  }
}
