<.header>
  Listing User profile
  <:actions>
    <.link patch={~p"/user_profile/new"}>
      <.button>New Profile</.button>
    </.link>
  </:actions>
</.header>

<p>Email: {@user.email}</p>

<.modal :if={@live_action in [:new, :edit]} id="profile-modal" show on_cancel={JS.patch(~p"/user_profile")}>
  <.live_component module={TriviaWeb.ProfileLive.FormComponent} id={@profile.id || :new} title={@page_title}
    action={@live_action} profile={@profile} patch={~p"/user_profile"} />
</.modal>